meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel='shortcut icon' href='../assets/images/faviconWhite.png' type='image/x-icon')
link(rel='icon' href='../assets/images/faviconWhite.png' type='image/x-icon')
title SALAMTEK
link(rel="stylesheet", href="../../assets/css/fontawesome.min.css")
//- link(rel="stylesheet", href="https:/osen/1.4.2/chosen.css/cdnjs.cloudflare.com/ajax/libs/ch")

link(rel="stylesheet", href="../../assets/css/bootstrap.rtl.min.css")
link(rel="stylesheet", href="../../assets/css/style.css")