//- Start Modal
#exampleModal.modal.fade.login(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h1#exampleModalLabel.modal-title.fs-5 
          .icon
            i.fa-solid.fa-user-plus
          .text تسجيل دخول
      .modal-body
        .d-flex 
          .col-6 
            .box-log 
              .image 
                i.fas.fa-user-injured
              .box-body 
                h4 هل أنت مريض؟
                .text تبحث عن خدمة طبية في منطقتك و احجز موعداً فورياً
                a.btn(  href="login.html") انا مريض  
          .col-6 
            .box-log 
              .image 
                i.fas.fa-hand-holding-medical
              .box-body 
                h4 هل أنت مؤدى خدمة ؟
                .text هل ترغب في الانضمام الينا كمؤدى خدمة ؟ سجّل الآن و تمتع بتجربة فريدة
                a.btn(  href="login.html") انا مؤدى خدمة 
          
      

//- End Modal

//- Start Modal
#notificationsModal.modal.fade.notifications(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h1#exampleModalLabel.modal-title.fs-5 
          .icon
            i.fa-solid.fa-bell
          .text إشعارات
      .modal-body
        .noti-box.noti-doctor 
          .image 
            i.fa-solid.fa-user-doctor
          .noti-body 
            h5.title  د / اشرف عبد المنعم
            p.text تم الغاء الحجز اليوم بسبب وجود عمليات كثيرة اليوم
            p.text سيتم ارجاع المبلغ في غضون 24 ساعة
            p.text برجاء ايعاده الحجز في موعد اخر
            .date 22/02/2023
        .noti-box.noti-doctor 
          .image 
            i.fa-solid.fa-flask
          .noti-body 
            h5.title  معمل البرج
            p.text تم ظهور النتيجه التحليل
            .date 22/02/2023
        .noti-box.noti-doctor 
          .image 
            i.fa-solid.fa-x-ray
          .noti-body 
            h5.title  مركز كيرو سكان
            p.text تم ظهور النتيجه الاشعة
            .date 22/02/2023
        .noti-box.noti-doctor 
          .image 
            i.fa-solid.fa-pills
          .noti-body 
            h5.title  صيدلية العزبى
            p.text سوف يتم ارسال الدواء في غدون 45 دقيقة
            .date 22/02/2023
            
          
      

//- End Modal

