doctype html
html(lang="ar" dir="rtl")
  head
    include includes/head.pug
  body 
    //- Start Login
    .log-page 
      .container 
        .col-6.text-center
          .form-action 
            a.image.mb-3.d-block(href="index.html") 
              img(src="../assets/images/logo.png", alt="")
            
            .group-Provider
              .Provider-box 
                .image 
                  
    
    include includes/footer      

