// Start Main Slider
.main-slider {
  background: url(../images/bg_master.png) no-repeat top center fixed;
  background-size: cover;
  // height: calc(100vh - 55px);
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;

  .filter-tap {
    width: 100%;

    .nav-tabs {
      .nav-item {
        .nav-link {

          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #EEEEEE;
          color: #999999;
          font-weight: bold;

          .image {
            background-color: #fff;
            margin-inline-end: 20px;
            border-radius: 5px;
            padding: 5px;

            svg {
              width: 35px;
              height: 35px;
            }
          }

          &.active {
            background-color: $aColor;
            color: #fff;
            border-color: $aColor;

            svg {
              fill: $aColor;

              path {
                fill: $aColor;
              }
            }
          }
        }

        &:first-child {
          .nav-link {
            border-start-start-radius: 30px;
          }
        }

        &:last-child {
          .nav-link {
            border-start-end-radius: 30px;
          }
        }
      }
    }

    .tab-content {
      margin-bottom: 50px;

      .tab-pane {
        background-color: #fff;
        width: 100%;
        border-radius: 0 0 30px 30px;
        padding: 15px 20px;

        .form-doctor {
          border: 1px solid #333;

          .input-group {
            position: relative;
            margin: 5px;
            margin-top: 15px;

            .input-group-text {
              background-color: $aColor;
              color: #fff;
            }
          }

          label {
            position: absolute;
            top: -11px;
            inset-inline-start: 44px;
            font-size: .8em;
            z-index: 1;
            padding: 0 10px;
            background-color: #fff;
          }

          button.btn {
            background-color: $sColor;
            color: #fff;
            width: 90px;
            font-weight: bold;
            white-space: nowrap;
            border-radius: 0;

            i {
              margin-inline-end: 5px;
            }
          }

          .select2-container {
            width: calc(100% - 43px);

            .select2-selection {
              height: 37px;
              border-radius: 5px 0 0 5px;
              border-inline-start: none;
              display: flex;
              align-items: center;

              .select2-selection__arrow {
                top: 6px !important;
              }
            }
          }
        }
      }
    }
  }

}

// End Main Slider